<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BÀI_TẬP_LỚN.Properties.Settings.BAITAPLON_NGOCANH_VA_LONGConnectionString"
            connectionString="Data Source=DESKTOP-4LS11N0\SQLEXPRESS;Initial Catalog=BAITAPLON_NGOCANH_VA_LONG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>